<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.arg.smart.web.order.mapper.OrderMapper">

    <!--统计不同运输方式的订单数量-->
    <select id="selectOrderCountByTransportMode" resultType="java.util.HashMap">
        SELECT row_number() over() AS row_no, mode_transport, COUNT(mode_transport) AS count FROM sh_product_circulation_data
        WHERE order_id IN
        <foreach collection="list" item="order_id" open="(" close=")" separator=",">
            #{order_id}
        </foreach>
        GROUP BY mode_transport;
    </select>

    <!--统计不同地域的订单收货者的下单数量-->
    <select id="getOrderAmountByArea" resultType="java.util.HashMap">
        SELECT row_number() over () AS row_no, receiving_location, SUM(transportation_quantity) AS amount FROM sh_product_circulation_data
        WHERE order_id IN
        <foreach collection="list" item="order_id" open="(" close=")" separator=",">
            #{order_id}
        </foreach>
        GROUP BY receiving_location;
    </select>

    <!--统计不同承运商运量-->
    <select id="getOrderTransportationAmount" resultType="java.util.HashMap">
        SELECT DISTINCT row_number() over () AS row_no, cp.company_name, sum(cir.transportation_quantity) AS amount
        FROM sh_product_circulation_data AS cir
        JOIN sh_company AS cp ON cir.company_id = cp.id WHERE cir.order_id IN
        <foreach collection="list" item="order_id" open="(" close=")" separator=",">
            #{order_id}
        </foreach>
        group by cir.company_id;
    </select>

    <!--统计不同地域某产品平均销售价格-->
    <select id="getProductAvgPriceByArea" resultType="java.util.HashMap">
        SELECT row_number() over() AS row_no, material_name, AVG(
            <if test="category == 1">
                production_price
            </if>
            <if test="category == 3">
                purchase_price
            </if>
            <if test="category == 4">
                wholesale_price
            </if>
            ) AS price FROM sh_market_quotation_stat
        WHERE material_id = #{material_id}
        AND
        <if test="start_time != null">
            create_time &gt;= #{start_time}
        </if>
        AND
        <if test="end_time != null">
            create_time &lt;= #{end_time}
        </if>
        GROUP BY material_name;
    </select>


    <!-- 根据模块类型，统计不同品种产品预计上市产量 -->
    <select id="getMarketEstimatesByFlagAndMaterialId" resultType="java.lang.Integer">
        SELECT market_estimate
        FROM sh_material_produce
        WHERE flag = #{flag} AND material_id = #{materialId}
    </select>

    <!-- 根据模块类型，统计不同品种产品不同批次产量 -->
    <select id="getBatchProductionByFlagAndMaterialId" resultType="java.math.BigDecimal">
        SELECT production_scale
        FROM sh_material_produce
        WHERE flag = #{flag} AND material_id = #{materialId} AND batch = #{batch}
    </select>

    <!-- 根据模块类型，统计月生产订单数量 -->
    <select id="getOrderCountByFlagAndTimeAndCategory" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM sh_order
        WHERE flag = #{flag}
        AND
        <if test="start_time != null">
            create_time &gt;= #{start_time}
        </if>
        AND
        <if test="end_time != null">
            create_time &lt;= #{end_time}
        </if>
         AND category = #{category}
    </select>

    <!-- 根据模块类型，查询特定产品月生产订单详细信息 -->
    <select id="getOrderDetailsByFlagAndTimeAndMaterialId" resultType="com.arg.smart.web.product.entity.MaterialProduce">
        SELECT *
        FROM sh_material_produce
        WHERE flag = #{flag} AND
        <if test="start_time != null">
            create_time &gt;= #{start_time}
        </if>
        AND
        <if test="end_time != null">
            create_time &lt;= #{end_time}
        </if>
        AND material_id = #{materialId}
    </select>

    <!-- 根据模块类型，统计不同产品生产总额 -->
    <select id="getProductionTotalByFlagAndTimeAndMaterialId" resultType="java.math.BigDecimal">
        SELECT SUM(quantity)
        FROM sh_material_produce
        WHERE flag = #{flag}
        AND
        <if test="start_time != null">
            create_time &gt;= #{start_time}
        </if>
        AND
        <if test="end_time != null">
            create_time &lt;= #{end_time}
        </if>
        AND material_id = #{materialId}
        GROUP BY create_time
    </select>

    <!--根据模块类型及运输企业,统计不同产品月出库量 -->
    <select id="getInventoryQuantityByFlagAndTimeAndMaterialId" resultType="java.lang.Long">
        SELECT SUM(sales_quantity)
        FROM sh_order_Detail, sh_order
        WHERE sh_order_Detail.id = sh_order.id
        IN (SELECT id FROM sh_order WHERE flag = #{flag}
        AND
        <if test="start_time != null">
            create_time &gt;= #{start_time}
        </if>
        AND
        <if test="end_time != null">
            create_time &lt;= #{end_time}
        </if>)
        AND material_id = #{materialId}
    </select>

    <!-- 根据模块类型及产品编号查询月出库订单明细 -->
    <select id="getMonthlyOrderDetailsByFlagAndTimeAndMaterialId" resultType="com.arg.smart.web.order.entity.OrderDetail">
        SELECT *
        FROM sh_order_detail, sh_order
        WHERE sh_order_Detail.id = sh_order.id
        IN (SELECT id FROM sh_order WHERE flag = #{flag}
        AND
        <if test="start_time != null">
            create_time &gt;= #{start_time}
        </if>
        AND
        <if test="end_time != null">
            create_time &lt;= #{end_time}
        </if>)
        AND material_id = #{materialId}
    </select>

</mapper>
