<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arg.smart.web.company.mapper.CompanyMapper">

    <select id="selectListByCompanyType" resultType="com.arg.smart.web.company.entity.Company">
        SELECT id,company_name,company_no,juridical_person,juridical_phone,contacts,contact_phone,email,area_name,area_code,
               address,company_type,product_type,enabled,delete_flag,create_by,create_time,update_by,update_time,extend_field,remark
        FROM sh_company
        WHERE company_type = #{companyType} and delete_flag = 0
    </select>
</mapper>




